# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Debug folders
.idea/
.vscode/

# Build output
dist/
build/

# Coverage reports
coverage/

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local
